button {
    color:white;
    background-color: blue;
    font-size: 16px;
    font-weight: 600;
    width: 210px;
    padding: 16px;
    border-radius: 8px;
    
}

.wrapper {
 background-color: rgb(176, 175, 233);
 height:fit-content;
 min-height: 100vh;
}